<h4>
  <i class="fa fa-pencil"></i>发表评论
  <span>
    <a rel="nofollow" id="cancel-reply" href="#comment" style="display:none;">
      <small>取消回复</small></a>
  </span>
</h4>
<form id="frmSumbit" target="_self" action="" onsubmit="return false">
  <input type="hidden" name="inpId" id="inpId" value="2">
  <input type="hidden" name="inpRevID" id="inpRevID" value="0">
  <div class="comt-box">
    <div class="form-group message form-name">
      <input type="text" id="inpName" class="text" value="" name="inpName" tabindex="1" placeholder="昵称">
      <input type="hidden" name="tverify" id="tverify" value="47846bae66a8b6e856d89c813f6db965"></div>
    <div class="form-group message form-email">
      <input type="text" id="inpEmail" class="text" name="inpEmail" tabindex="2" placeholder="邮箱"></div>
    <div class="form-group message form-www">
      <input type="text" id="inpHomePage" name="inpHomePage" class="text" tabindex="3" placeholder="网址"></div>
  </div>
  <!--verify-->
  <div id="comment-tools">
    <div class="tools_text">
      <textarea placeholder="请遵守相关法律与法规，文明评论。O(∩_∩)O~~" name="txaArticle" id="txaArticle" class="text input-block-level comt-area" cols="50" rows="4" tabindex="5"></textarea>
    </div>
  </div>
  <p>
    <input name="sumbit" type="submit" tabindex="6" value="提交" onclick="sendMsg()" class="button"></p>
</form>

<script type="text/javascript">
    function sendMsg() {
                var username = $("#inpName").val();
               /* var password = $("#inpEmail").val();
                var url = $("#inpHomePage").val();*/
                messageContent = $("#txaArticle").val().replace('<br/>', '/n');
                alert("messageContent" + messageContent);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/msg/addMsg',
                    contentType: "application/json",
                    data:JSON.stringify({"username": username, "messageContent": messageContent}),
                    success: function (result) {
                        console.log("data is :" + result)
                        alert(result.data);
                    }
                });
            }
</script>