
<style>
.w_foot{
	height: 40px;

	margin-top: -40px;
}
.w_foot_link{
	height: 110px;
	background: #DDD;
	text-align: center;
	font-family: "微软雅黑";
	padding-top: 10px;
}
.w_foot_copyright{
	height: 40px;
	text-align: center;
	padding-top: 10px;
	background: #414141;
	color:#b2bcc5;
	font-size:13px;
}
.w_foot_copyright>a{
	color:#b2bcc5;
	text-decoration:none;
	font-size:13px;
}

</style>
<div class="w_foot">
	<div class="w_foot_copyright">Copyright &copy; 2019-<span id="year"></span>, www.jsoso.cn. All Rights Reserved. <span>|</span>
		<a target="_blank" href="http://icp.chinaz.com" rel="nofollow">苏ICP备18014490号</a><i class="c-icon-icrlogo"></i>
	</div>
</div>
<script>
	//初始化年
	$("#year").text(new Date().getFullYear());
</script>