                                      <header class="header-navigation" id="header">
                                        <nav>
                                          <div class="logo"></div>
                                          <h2 id="mnavh"><span class="navicon"></span></h2>
                                       <ul id="starlist">
                                      <li class="selected"><a href="index.html" >首页</a></li>
                                      <li><a href="about.html">关于我</a></li>
                                      <li><a href="technology.html">技术论坛</a></li>
                                      <li><a href="writeArticle.html">写文章</a></li>
                                      <li><a href="time.html">时间轴</a></li>
                                      <li><a href="comment.html">留言</a></li>
                                          </ul>
                                          <div class="searchbox">
                                          <div id="search_bar" class="search_bar">
                                            <form id="searchform" action="" method="post" name="searchform">
                                              <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                                              <input type="hidden" name="show" value="title">
                                              <input type="hidden" name="tempid" value="1">
                                              <input type="hidden" name="tbname" value="news">
                                              <input type="hidden" name="Submit" value="搜索">
                                              <p class="search_ico"> <span></span></p>
                                            </form>
                                           </div>
                                          </div>
                                        </nav>
                                      </header>
