<!Doctype html>
<html>
    <head>
    <meta charset="UTF-8" />
    <title>Jsoso</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="container">
    <div class="info">
        <h1>登录平台</h1>
        <span>Made with <i class="fa fa-heart"></i> by Jsoso</span>
    </div>
</div>
<div class="form" autocomplete="off">
    <div class="thumbnail"><img src="img/Jsoso_login.svg"/></div>
    <form class="register-form" onsubmit="return false;">
        <input type="text" placeholder="用户名" autocomplete="off"/>
        <input type="password" placeholder="密码" autocomplete="off"/>
        <input type="text" placeholder="邮箱账号" id="email" autocomplete="off"/>
        <div>
            <input type="text" placeholder="邮箱验证码" id="emailCodeInput" autocomplete="off"/>
            <input type="button" id="emailCode" value="获取邮箱验证码" class="active form-control" autocomplete="off"/>
        </div>
        <button id="register">注册</button>
        <p class="message">已经注册? <a href="#">立刻登录</a></p>
    </form>
    <form class="login-form" onsubmit="return false;">
        <input type="text" placeholder="用户名" id="userName" autocomplete="off"/>
        <input type="password" placeholder="密码" id="password" autocomplete="off"/>
        <div>
            <input type="checkbox" placeholder="记住我" id="rememberMe"/> <span style="font-family: monospace;">记住我</span>
        </div>
        <button id="login">登录</button>
        <p class="message">没有注册? <a href="#">创建账号</a></p>
    </form>
</div>
</body>
    <script src="plugin/jquery.min.js"></script>
    <script src="js/login.js"></script>
    <script type="text/javascript" src="js/util/cookie.js"></script>
</html>
