<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人博客</title>
	</head>

	<link href="plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/common.css" rel="stylesheet" type="text/css"  />
	<link rel="stylesheet" type="text/css" href="css/base.css"/>
	<link href="img/logo/logo.ico" rel="shortcut icon" />
	<script src="plugin/jquery.min.js"></script>
	<script src="plugin/bootstrap/js/bootstrap.min.js"></script>
	<!--<script type="text/javascript" src="plugin/jquery.page.js"></script>-->
	<!--<script src="js/snowy.js"></script>-->

	<body>
		 <!-- header -->
		 <div id="header"></div>

		 <iframe></iframe>
		<!-- footer -->
        <div id="footer"></div>
	</body>
</html>