<!doctype html>
<html>
<head>
<meta charset="gbk">
<title>站在JAVA后端设计之路的技术员</title>
<meta name="keywords" content="JSOSO" />
<meta name="description" content="JSOSO" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/base.css" rel="stylesheet">
<link href="css/time.css" rel="stylesheet">
<link href="css/m.css" rel="stylesheet">
<script src="plugin/jquery.min.js" ></script>
<script src="js/scrollReveal.js"></script>
<script src="js/time.js" ></script>
<script src="js/common.js"></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<script>
    $(function() {
      /*导入头部和尾部*/
          $("#header").load("header");
          $("#footer").load("footer");
    });
</script>
</head>
<body>
<div id="header"></div>
<article style="height: 100%;min-height: 850px;">
  <div class="timebox">
    <ul>
      <li><span>20XX-XX-XX</span><i><a href="/" target="_blank">终结版</a></i></li>

      <li><span>2019-7-23</span><i><a href="/" target="_blank">Jsoso 博客功能开发任务开始开始</a></i></li>
    </ul>
  </div>
</article>
<!-- footer -->
<div id="footer"></div>
</body>
</html>
