<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>个人博客</title></head>
    <link href="plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/writeArticle.css" />
    <link href="img/logo/logo.ico" rel="shortcut icon" />
    <script src="plugin/jquery.min.js"></script>
    <script src="plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugin/wangEditor.js"></script>
    <script src="js/writeArticle.js"></script>

    </head>
    <body>
        <!-- header -->
        <header class="header-navigation" id="header">
            <nav>
                <div class="logo"></div>
                <h2 id="mnavh">
                    <span class="navicon"></span>
                </h2>
                <ul id="starlist">
                    <li>
                        <a href="index.html">首页</a></li>
                    <li>
                        <a href="about.html">关于我</a></li>
                    <li>
                        <a href="technology.html">技术论坛</a></li>
                    <li class="selected">
                        <a href="writeArticle.html">写文章</a></li>
                    <li>
                        <a href="time.html">时间轴</a></li>
                    <li>
                        <a href="comment.html">留言</a></li>
                </ul>
                <div class="searchbox">
                    <div id="search_bar" class="search_bar">
                        <form id="searchform" action="" method="post" name="searchform">
                            <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                            <input type="hidden" name="show" value="title">
                            <input type="hidden" name="tempid" value="1">
                            <input type="hidden" name="tbname" value="news">
                            <input type="hidden" name="Submit" value="搜索">
                            <p class="search_ico">
                                <span></span>
                            </p>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <div class="w_container">
            <div class="container">
                <div class="row w_main_row">
                    <div class="col-2 col-md-2 sidebar-offcanvas" id="sidebar">
                    <div class="left_menu_top"></div>
                    <div class="ar-list-group-title">内容</div>
                    <div class="list-group">
                        <a class="list-group-item" target="_blank">文章管理</a>
</div>
</div>
                    <div class="col-8 col-md-8" id="content-body">
                        <div class="title-box">
                            <input type="text" id="txtTitle" maxlength="100" placeholder="输入文章标题">
                            <span class="max-length">
                                <span class="max-length-change">0</span>/100</span></div>
                        <div id="editor"></div>
                        <div class="publicDiv" style="margin-top: 20px;">
                          <input id="btnPublish" type="button" value="发布博客" title="发布博客"/>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>